/* sidebar.css */
:root {
    --blue: #2c3e50;
    --white: #fff;
}

/* 汉堡菜单和侧边栏 */
.hamburger-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 200;
}

.hamburger-menu button {
    position: relative;
    width: 30px;
    height: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    z-index: 200;
}

.hamburger-menu button span {
    position: absolute;
    height: 3px;
    background: var(--white);
    width: 100%;
    left: 0px;
    top: 0px;
    transition: 0.3s ease-in;
}

.hamburger-menu button span:nth-child(2) {
    top: 9px;
}

.hamburger-menu button span:nth-child(3) {
    top: 18px;
}

.hamburger-menu [data-state="open"] span:first-child {
    transform: rotate(45deg);
    top: 10px;
}

.hamburger-menu [data-state="open"] span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.hamburger-menu [data-state="open"] span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
}

nav {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--blue);
    color: var(--white);
    width: 300px;
    z-index: 150;
    padding-top: 80px;
    transform: translateX(-100%);
    transition: transform 0.24s cubic-bezier(0.52, 0.01, 0.8, 1);
}

nav[data-state="open"] {
    transform: translateX(0%);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    transform: translateX(-5px);
    transition: transform 0.16s cubic-bezier(0.44, 0.09, 0.46, 0.84);
    opacity: 0;
}

nav[data-state="open"] ul li:nth-child(1) {
    transition-delay: 0.16s;
    transform: translateX(0px);
    opacity: 1;
}

nav[data-state="open"] ul li:nth-child(2) {
    transition-delay: 0.32s;
    transform: translateX(0px);
    opacity: 1;
}

nav[data-state="open"] ul li:nth-child(3) {
    transition-delay: 0.48s;
    transform: translateX(0px);
    opacity: 1;
}

nav a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;
    transition: background-color 0.24s ease-in-out;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

nav a.active {
    background-color: rgba(255, 255, 255, 0.2);
}

/* main {
    flex: 1;
    min-height: calc(100vh - 140px);
} */

/* 按钮样式 */
/* .btn-primary {
    background-color: var(--white);
    border-color: #ccc;
    color: var(--blue);
}

.btn-primary:hover {
    background-color: var(--white);
    border-color: #ccc;
    color: var(--blue);
    opacity: 0.9;
} */

/* 主容器样式 */
/* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
} */